.sidebar {
  display: flex;
  flex-direction: column;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  display: flex;
  align-items: baseline;
  gap: 16px;
  width: 100%;
  padding-top: 16px;
}

.sidebar__info {
  display: flex;
  align-items: center;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  margin-right: 15px;
  object-fit: cover;
}

.sidebar__username {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-wrap: nowrap;
  margin: 0;
}

.sidebar__edit-profile {
  line-height: 24.8px;
  border: none;
  background-color: #f3f3f3;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  padding: 0;
  width: 180px;
  text-align: left;
}

.sidebar__edit-profile:hover {
  opacity: 0.6;
  transition: 0.2s;
}

.sidebar__logout {
  line-height: 24.8px;
  border: none;
  background-color: #f3f3f3;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  padding: 0;
  width: 180px;
  text-align: left;
}

.sidebar__logout:hover {
  opacity: 0.6;
  transition: 0.2s;
}
