.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__title {
  margin: 0;
  width: 95px;
  height: 20px;
  padding-bottom: 24px;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  background-image: url("../../assets/close-button.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  width: 16px;
  height: 16px;
  border: none;
  cursor: pointer;
}

.modal__close:hover {
  width: 18px;
  height: 18px;
  top: 20px;
  right: 26px;
  transform: 3s;
}

.modal__content {
  background-color: #fff;
  position: relative;
  padding: 28px 28px 36px;
  width: 100%;
  max-width: 496px;
  box-sizing: border-box;
  border-radius: 20px;
  overflow: hidden;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__input {
  display: block;
  width: 100%;
  height: 20px;
  padding: 8px 0 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  cursor: pointer;
}
.modal__legend {
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 0 0 12px;
}

.modal__label {
  max-width: 440px;
  width: 100%;
  height: 52px;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 0 0 24px;
}

.modal__label_type_radio {
}

.modal__radio-buttons {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  max-width: 173px;
  max-height: 108px;
}

.modal__radio-input {
  width: 16px;
  height: 16px;
  margin: 2px 8px 2px 0;
  vertical-align: text-bottom;
  cursor: pointer;
}

.modal__label_type_radio {
  color: rgba(0, 0, 0, 0.5);
  max-height: 20px;
  padding-bottom: 8px;
}

.modal__submit {
  font-family: "Cabinet Grotesk";
  width: 124px;
  height: 36px;
  margin: 34px 0 0;
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
