.modal__submit {
  border: none;
  width: 124px;
  height: 36px;
  margin-top: 32px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background-color: black;
  border-radius: 4px;
  cursor: pointer;
}

.modal__submit:hover {
  opacity: 0.6;
  transition: 0.5s;
}

.modal__submit_disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.modal__submit_disabled:hover {
  opacity: 0.3;
  cursor: not-allowed;
}
