.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}

.header__logo {
  margin-right: 24px;
}

.header__date-place {
  margin: 0;
  padding-top: 5px;
}

.header__add-clothes-btn {
  margin: 0 20px 0 20px;
  border: 0;
  cursor: pointer;
  padding: 0;
  font-weight: 700;
}

.header__add-clothes-btn:hover {
  opacity: 0.5;
  transition: 0.5s;
}

.header__add-clothes-btn_hidden {
  display: none;
}

.header__user {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__user-placeholder {
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
  color: white;
}

.header__user-name {
  margin: 0;
}

.header__link {
  text-decoration: none;
  color: black;
}

.header__buttons-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.header__signup-button {
  border: none;
  width: 73px;
  height: 36px;
  margin-left: 20px;
  padding: 0;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: #000;
  background-color: #f3f3f3;
  border-radius: 4px;
  cursor: pointer;
}

.header__signup-button:hover {
  opacity: 0.5;
  transition: 0.5s;
}

.header__login-button {
  border: none;
  width: 73px;
  height: 36px;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: #000;
  background-color: #f3f3f3;
  border-radius: 4px;
  cursor: pointer;
}

.header__login-button:hover {
  opacity: 0.5;
  transition: 0.5s;
}
