.login-modal__button-container {
  font-family: "Cabinet Grotesk";
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 12px;
  max-width: 164px;
  margin-top: 8px;
}

.login-modal__link {
  border: none;
  width: 150px;
  height: 36px;
  margin-top: 8px;
  padding: 8px 16px;
  font-family: "Cabinet Grotesk";
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background-color: black;
  border-radius: 4px;
  cursor: pointer;
}

.login-modal__link:hover {
  opacity: 0.6;
  transition: 0.2s;
}

.login-modal__link_disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.login-modal__link_disabled:hover {
  opacity: 0.5;
  cursor: not-allowed;
}

.login-modal__register-link {
  border: none;
  width: 80px;
  height: 36px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.login-modal__register-link:hover {
  opacity: 0.6;
  transition: 0.2s;
}
